* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  /* background: linear-gradient(35deg, #f9f2fa, #53abf3); */
  background: var(--secondary-clr);
  /* box-shadow: 0 0 0.3rem war(--secondary-clr); */
  padding: 10px;
}

.todo-app {
  width: 100%;
  max-width: 740px;
  background: var(--primary-rgba-7);
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
  position: relative;
}

.todo-app h2 {
  color: #000000;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.todo-app h2 img {
  width: 40px;
  margin-left: 10px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}

button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #9bd2f7;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}

ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}

ul li.checked {
  color: #050505;
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url(images/bluechecked.png);
}

ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #000000;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

ul li span:hover {
  background: #edeef0;
}

:root {
  --primary-clr: #fff9f9;
  --primary-rgba-7: rgba(199, 193, 193, 0.76);

  --secondary-clr: #161616;
  --secondary-rgba-3: rgba(0, 0, 0, 0.3);
}

.light-dark-mode {
  width: 40px;
  aspect-ratio: 1;
  box-shadow: 0 0 0.3rem var(--secondary-rgba-3);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-clr);
  font-size: 1rem;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 10%;
  transition: 200ms ease-in-out background-color, 200ms ease-in-out color;
}

.light-dark-mode:active {
  transform: scale(0.8);
}

.light-dark-mode:hover {
  background-color: var(--secondary-clr);
}

.light-theme {
  --primary-clr: #161616;
  --primary-rgba-7: rgba(146, 132, 132, 0.4);

  --secondary-clr: #fff9f9;
  --secondary-rgba-3: rgba(201, 198, 198, 0.849);
}
